:root {
	--bg: #000;
	--white: #fff;
	--ide-bg: #111;
	--ide-font-size: 2vmin;
	--accent: cyan;
}

* { /* Reset styling */
	padding: 0;
	margin: 0;
}

body {
	background: var(--bg);
	display: flex;
	flex-direction: column;
}

#header-div {
	display: flex;
	flex-direction: row;
	gap: 5vmax;
	height: 15vmin;
	border-bottom: 1px solid var(--white);
	padding: 2vmin;
}

#header-div > span {
	display: inline-flex;
	font-family: monospace;
	color: var(--white);
	font-size: 7vmin;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	left: calc((15vmin - 5vmin) / 2);
  	align-items: center;
}

#header-div > span #header-div > img {
	cursor: pointer; /* Clicky bc links */
}

#links {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-right: 2vw;
	gap: 2vmax;
}

#links > span {
	display: none;
	color: var(--white);
	font-size: 3vmin;
	position: relative;
	font-family: monospace;
    cursor: pointer;
}

#links > img {
	display: inline;
    cursor: pointer;
	height: auto;
	width: 100%;
	max-width: calc(.75 * 13.8vmin);
	-o-object-fit: contain;
	   object-fit: contain;
}

@media only screen and (orientation: landscape) {
	#links > span {
		display: inline-block;
	}

	#links > img {
		display: none;
	}

	.content-container {
		max-width: 50%;
	}
}

#content {
	display: flex;
	height: calc(100vh - 15vmin - 8vmax);
	flex-direction: row;
	flex-wrap: wrap;
	padding: 2vmax;
	gap: 2vmax;
}

#ide {
	display: flex;
	background-color: var(--ide-bg);
	overflow-x: auto;
	height: 100%;
	max-width: calc(100% - 4vmax);
}

.content-container {
	position: relative; /* position to ensure cam img is positioned rel to this */
	flex: 1 1 auto;

}

#line-no {
	display: inline-block;
	width: 1vw;
	color: var(--white);
	font-size: var(--ide-font-size);
	font-family: monospace;
	height: calc(100% - 2vmin);
	margin: .5vmin;
	margin-left: .5vw;
	margin-right: 2vw;

}

#code {
	display: inline-block;
	flex: 1 1 auto;
	padding: .5vmin;
	font-size: var(--ide-font-size);
	float: left;
}

#code > span {
	display: block;
	font-family: monospace;
	color: var(--white);
	white-space: nowrap;
}

#ide-icon-stack {
	position: absolute;
	top: 0;
	right: 0;
	width: 3vmax;
	padding: .5vmax;
	height: 100%;
	overflow-y: auto;
}

#ide-icon-stack > img {
	width: 3vmax;
	height: 3vmax;
	-o-object-fit: contain;
	   object-fit: contain;
}

#marking {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: center;
	height: 100%;
}

#marking > p {
	display: inline-block;
	width: 100%;
	height: 3vmax;
	color: var(--white);
	font-family: monospace;
	text-align: center;
	font-size: 2vmax;
	border: .1vmin solid var(--accent);
	padding: .75vmax 1.25vmax .25vmax 1.25vmax;
	margin: 0 1vmax 0 1vmax;
	cursor: pointer;
	position: relative;
}

#marking > p > img{
	width: 2.5vmax;
	height: 2.5vmax;
	position: absolute;
	right: 0vmax;
	top: 0vmax;
	padding: .75vmax;
	border-left: 1px solid var(--accent);
	-o-object-fit: contain;
	   object-fit: contain; /* Preserve icon aspect ratio */
}

#marking > div {
	flex: 1 1 auto;
	width: calc(50% - 3vmax);
	height: calc(100%  - 7vmax);
	border: 1px dashed var(--accent);
	margin: 1vmax;
	overflow-y: auto;
}

#marking > div > input {
	padding: .5vmax 1vmax .5vmax 1vmax;
	background-color: transparent;
	border: none;
	outline: none;
	width: calc(100% - 2vmax);
	color: var(--white);
	font-family: monospace;
	font-size: 1vmax;
	border-bottom: .05vmin solid var(--white);
}
